<div class="kldr">
  <ul class="Lkdld">
    <li>Informações pessoais</li>
    <li>Endereço</li>
    <li>Formação</li>
    <li>Material adicional</li>
  </ul>
</div>

<div class="Hjdpe">
  <form [formGroup]="kld">
    <input type="text" formControlName="nome" placeholder="Nome completo">
    <input type="date" formControlName="birthday">
    <input type="text" formControlName="telephone" placeholder="Telefone">
    <input type="text" formControlName="city" placeholder="Cidade">
    <input type="text" formControlName="state" placeholder="Estado">
    <input type="email" formControlName="email" placeholder="Email">
    <input type="text" formControlName="rg" placeholder="RG">
  </form>
</div>
